<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <img src="../../../assets/bit.jpeg" routerLink="/home"class="bitimg">
  </div>
</nav>

<!-- <div class="card" style="width: 18rem;">
  <img src="../../../assets/Imagen3.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../../../assets/Imagen3.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../../../assets/Imagen3.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<hr style="height: 8px;">

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/Imagen3.png" alt="">
        <div class="card-body">
          <p class="card-text">Ponente</p>
          <h4 class="card-title">Conferencia numero 1</h4>
          <p class="card-text">Esta platica se diseño principalmente...</p>
          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/Imagen3.png" alt="">
        <div class="card-body">
          <p class="card-text">Ponente</p>
          <h4 class="card-title">Conferencia numero 1</h4>
          <p class="card-text">Esta platica se diseño principalmente...</p>
          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/Imagen3.png" alt="">
        <div class="card-body">
          <p class="card-text">Ponente</p>
          <h4 class="card-title">Conferencia numero 1</h4>
          <p class="card-text">Esta platica se diseño principalmente...</p>
          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/Imagen3.png" alt="">
        <div class="card-body">
          <p class="card-text">Ponente</p>
          <h4 class="card-title">Conferencia numero 1</h4>
          <p class="card-text">Esta platica se diseño principalmente...</p>
          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/Imagen3.png" alt="">
        <div class="card-body">
          <p class="card-text">Ponente</p>
          <h4 class="card-title">Conferencia numero 1</h4>
          <p class="card-text">Esta platica se diseño principalmente...</p>
          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/Imagen3.png" alt="">
        <div class="card-body">
          <p class="card-text">Ponente</p>
          <h4 class="card-title">Conferencia numero 1</h4>
          <p class="card-text">Esta platica se diseño principalmente...</p>
          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/Imagen3.png" alt="">
        <div class="card-body">
          <p class="card-text">Ponente</p>
          <h4 class="card-title">Conferencia numero 1</h4>
          <p class="card-text">Esta platica se diseño principalmente...</p>
          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
        </div>
      </div>
    </div>
  </div>
</div>