<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <img src="../../../assets/bit.jpeg" class="bitimg">
  </div>
</nav>
  
  <header>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('../../../assets/larga.jpg')">
          <div class="carousel-caption">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/Imagen3.png')">
          <div class="carousel-caption">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/Imagen4.png')">
          <div class="carousel-caption">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/Imagen6.png')">
          <div class="carousel-caption">
            <h5>Fourth slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>

  <!-- CARDS DIAS -->

  <div class="main-container">
    <div class="heading">
      <h1 class="heading__title">Conferencias</h1>
    </div>
    <div class="cards">
      <div class="card card-2" routerLink="/one">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Primer día</h2>
        <p class="card__apply">
          <a class="card__link" href="/one">Ir<i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-3" routerLink="/two">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Segundo día</h2>
        <p class="card__apply">
          <a class="card__link" href="/two">Ir<i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>
  


  <!-- CARROUSEL PONENTES -->

  <div class="heading">
    <h1 class="heading__title">Ponentes</h1>
  </div>

  <div class="slider">
    <input type="radio" name="testimonial" id="t-1" />
    <input type="radio" name="testimonial" id="t-2" />
    <input type="radio" name="testimonial" id="t-3" checked />
    <input type="radio" name="testimonial" id="t-4" />
    <input type="radio" name="testimonial" id="t-5" />
    <div class="testimonials mb-8">
      <label class="item" for="t-1">
        <div class="mycard">
          <p class="cardtitle">Práctica</p>
          <div>
            <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-2">
        <div class="mycard">
          <p class="cardtitle">Práctica</p>
          <div>
            <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-3">
        <div class="mycard">
          <p class="cardtitle">Práctica</p>
          <div>
            <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-4">
        <div class="mycard">
          <p class="cardtitle">Práctica</p>
          <div>
            <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-5">
        <div class="mycard">
          <p class="cardtitle">Práctica</p>
          <div>
            <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
    </div>
    <div class="dots">
      <label for="t-1"></label>
      <label for="t-2"></label>
      <label for="t-3"></label>
      <label for="t-4"></label>
      <label for="t-5"></label>
    </div>
  </div>

  <!-- FOOTER -->

  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <ul>
                      <li>
                        <img src="../../../assets/logotipo sin mano-01.png" class="imgfoot">
                      </li>
                      <li>
                        <button class="btn"><i class="fa-brands fa-facebook"></i></button>
                        <button class="btn"><i class="fa-brands fa-instagram"></i></button>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4>ATENCIÓN A CLIENTES</h4>
                    <ul>
                        <li>contacto@congresobit.com</li>
                        <li>(52) 9511234456</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>