<div class="contenedor">
    <div class="imgcontainer">
        <img src="../../../assets/logotipo sin mano-01.png" alt="Avatar" class="avatar">
      </div>
    <div class="formulario">
        <form>
            <div class="container">
                <div class="input-container">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" placeholder="Usuario" class="form-control input-field">
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" placeholder="Contraseña" class="form-control input-field">
                </div>          
              <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block"
              style="width: 80%;">Ingresar</button>
            </div>
          </form>
    </div>
</div>